html
 head
  link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css',rel='stylesheet')
  link(href='./app.css',rel='stylesheet')
 body
  .container
   .panel.panel-default
    .panel-heading
     h3 종목별 시세
    .panel-body
     table.table.table-striped.table-hover
      tr
       th 종목코드
       th 종목명
       th 현재가
       th 시작가
       th 고가
       th 저가
       th 거래량
       th 순자산가치
      each item in stock
       - var diff = item.last.close - item.prev.close;
       tr(onclick='location.href="/stock/'+item.code+'";',class=(diff>0)?'success':'danger')
        td= item.code
        td= item.title
        td.text-right
         | #{item.last.close} &nbsp;
         span.label(class=(diff>0)?'label-success':'label-danger')= ' ('+(diff>0 ? '▲' + item.diff : '▼' + (-item.diff)) + ')'
        td.text-right= item.last.start
        td.text-right= item.last.high
        td.text-right= item.last.low
        td.text-right= item.last.volume
        td.text-right= item.last.NAV
     form(method='get',action='/add')
      div.input-group
       input.form-control(type='text',name='stock',placeholder='종목코드?')
       span.input-group-btn
        button.btn.btn-default(type='submit') 추가