html
 head
  link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css',rel='stylesheet')
  link(href='./app.css',rel='stylesheet')
 body
  .container
   .row
    .col-md-8
     h2
      span.label.label-success.pull-left= code
      span &nbsp; #{title}
     .panel.panel-warning
      .panel-heading
       h4 종목 과거 정보
      .panel-body
       table.table.table-striped.table-hover.table-condense
        tr
         th 일자
         th 시가
         th 종가
         th 변동폭
         th 고가
         th 저가
         th 순자산가치
        - var prev = {};
        each item in curr
         tr(class=(item.diff>0)?'success':'danger')
          td= dateformat(item.at)
          td.text-right= currformat(item.start)
          td.text-right= currformat(item.close)
          td.text-right= diffformat(item.diff)
          td.text-right= currformat(item.high)
          td.text-right= currformat(item.low)
          td.text-right= currformat(item.NAV)
          - prev = item;
    .col-md-4
     .panel.panel-success
      .panel-heading
       h4 종목 예측 정보
        ul.list-group
         li.list-group-item
          span.label.label-info 종가
          span= currformat(expect[0])
         li.list-group-item
          span.label.label-info 고가
          span= currformat(expect[1])
         li.list-group-item
          span.label.label-info 저가
          span= currformat(expect[2])