html
 head
  link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css',rel='stylesheet')
  link(href='/static/app.css',rel='stylesheet')
  script(src='/static/chart-lib.js')
 body
  .container
   h2
    span.label.label-success.pull-left= code
    span &nbsp; #{title}
   .row
    .col-md-8
     .panel.panel-warning
      .panel-heading
       h4 종목 과거 정보
      .panel-body
       table.table.table-striped.table-hover.table-condense
        tr
         th 일자
         th 시가
         th 종가
         th 변동폭
         th 고가
         th 저가
        - var prev = {};
        each item in curr
         tr(class=(item.diff>0)?'success':'danger')
          td= dateformat(item.at)
          td.text-right= currformat(item.start)
          td.text-right= currformat(item.close)
          td.text-right= diffformat(item.diff)
          td.text-right= currformat(item.high)
          td.text-right= currformat(item.low)
          - prev = item;
    .col-md-4
     .panel.panel-success
      .panel-heading
       h4 종목 예측 정보
      .panel-body
       if expect
        ul.list-group
         li.list-group-item
          span.label.label-info 내일?
          - var slice = 1.04;
          each i in [0, 1, 2, 3, 4]
           | &nbsp; 
           span.label.label-success(style='opacity:'+expect[i], title=predictformat(expect[i])) #{Math.round(price * slice)}
           - slice = slice - 0.02;
         li.list-group-item
          span.label.label-warning +1주
          - slice = 1.04;
          each i in [5, 6, 7, 8, 9]
           | &nbsp; 
           span.label.label-success(style='opacity:'+expect[i], title=predictformat(expect[i])) #{Math.round(price * slice)}
           - slice = slice - 0.02;
          br
          span.label.label-info 고가
          - slice = 1.04;
          each i in [10, 11, 12, 13, 14]
           | &nbsp; 
           span.label.label-success(style='opacity:'+expect[i], title=predictformat(expect[i])) #{Math.round(price * slice)}
           - slice = slice - 0.02;
          br
          span.label.label-info 저가
          - slice = 1.04;
          each i in [15, 16, 17, 18, 19]
           | &nbsp; 
           span.label.label-success(style='opacity:'+expect[i], title=predictformat(expect[i])) #{Math.round(price * slice)}
           - slice = slice - 0.02;
         li.list-group-item
          span.label.label-warning +2주
          - slice = 1.04;
          each i in [20, 21, 22, 23, 24]
           | &nbsp; 
           span.label.label-success(style='opacity:'+expect[i], title=predictformat(expect[i])) #{Math.round(price * slice)}
           - slice = slice - 0.02;
          br
          span.label.label-info 고가
          - slice = 1.04;
          each i in [25, 26, 27, 28, 29]
           | &nbsp; 
           span.label.label-success(style='opacity:'+expect[i], title=predictformat(expect[i])) #{Math.round(price * slice)}
           - slice = slice - 0.02;
          br
          span.label.label-info 저가
          - slice = 1.04;
          each i in [30, 31, 32, 33, 34]
           | &nbsp; 
           span.label.label-success(style='opacity:'+expect[i], title=predictformat(expect[i])) #{Math.round(price * slice)}
           - slice = slice - 0.02;
     .panel.panel-info
      .panel-heading
       h4 종목 차트
      #charts.panel-body
       h5 주가 추이
       canvas#stock-chart(height='250')
       h5 거래량 추이
       canvas#vol-chart(height='100')
       script(src='/static/chart.js')
       script(src='/chart?id='+code+'&cb=loaded')
