html
 head
  link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css',rel='stylesheet')
  link(href='/static/app.css',rel='stylesheet')
  script(src='/static/chart-lib.js')
 body
  .container
   h2
    span.label.label-success.pull-left= code
    span &nbsp; #{title}
   .row
    .col-md-4
     .panel.panel-info
      .panel-heading
       h4 모의 투자
      .panel-body
       - var balance = (stock.bal + stock.amount * price - 1000000);
       p
        span.label.label-info 수익률
        | &nbsp;#{Math.round(balance / 10000) / 100} %
       p
        span.label.label-info 이익금
        | &nbsp;#{currformat(balance)}
     .panel.panel-success
      .panel-heading
       h4 종목 예측 정보
      .panel-body
       if expect
        - var step = (price > 500000) ? 1000 : ((price > 100000) ? 500 : ((price > 50000) ? 100 : ((price > 10000) ? 50 : 10)))
        - step = step * 2;
        p
         span.label.label-info 종가
         | &nbsp; 
         each i in range(0, 10)
          span.label(style=predStyle(expect[i]), title=predictformat(expect[i])) &nbsp;
        p
         span.label.label-warning 고가
         | &nbsp; 
         each i in range(10, 20)
          span.label(style=predStyle(expect[i]), title=currformat((i-10) * step + curr[0].high)+', '+predictformat(expect[i])) &nbsp;
        p
         span.label.label-info 저가
         | &nbsp; 
         each i in range(20, 30)
          span.label(style=predStyle(expect[i]), title=currformat((20-i) * step + curr[0].low)+', '+predictformat(expect[i])) &nbsp;
     .panel.panel-info
      .panel-heading
       h4 종목 차트
      #charts.panel-body
       h5 주가 추이
       canvas#stock-chart(height='250')
       h5 거래량 추이
       canvas#vol-chart(height='100')
       script(src='/static/chart.js')
       script(src='/chart?id='+code+'&cb=loaded')
    .col-md-8
     .panel.panel-warning
      .panel-heading
       h4 종목 과거 정보
      .panel-body
       table.table.table-striped.table-hover.table-condense
        tr
         th 일자
         th 시가
         th 종가
         th 변동폭
         th 고가
         th 저가
        - var prev = {};
        each item in curr
         tr(class=(item.diff>0)?'success':'danger')
          td= dateformat(item.at)
          td.text-right= currformat(item.start)
          td.text-right= currformat(item.close)
          td.text-right= diffformat(item.diff)
          td.text-right= currformat(item.high)
          td.text-right= currformat(item.low)
          - prev = item;